.card {
  height: 100%;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  border-color: var(--bg-color-secondary);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  .card-title,
  .card-text {
    color: var(--text-color);
  }
  .btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }
}
